body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.heading-large {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.text-advantages {
    letter-spacing: 0.0196em;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.nav-logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

a.nav-link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.nav-link-header:hover,
a.nav-link-header:focus {
    color: #404bbf;
}

a.active-link:active {
    color: #404bbf;
    background: #404bbf;
}

.link-contact {
    font-style: normal;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover,
.link-contact:focus {
    color: #404bbf;
}

.section-main-title {
    background: #2e2f42;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.title-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
    background-color: #404bbf;
}

.section-our-team {
    background: #f4f4fd;
}

.list-person-card {
    background-color: #fff;
}

.title-team-member {
    text-align: center;
}

.text-team {
    text-align: center;
}

.site-footer {
    background: #2e2f42;
}

.nav-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.text-footer {
    color: #f4f4fd;
}

/* HOMEWORK-3 */

img {
    display: block;
    width: 100%;
    object-fit: cover;

}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container.flex-items {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.list-contacts {
    display: flex;
    gap: 40px; 
    padding: 24px 0;
    
}

.nav-logo-header {
    margin-right: 76px;
}

.nav-list-items {
    display: flex;
    gap: 40px;
}

.nav-link-header {
    padding: 24px 0;
}

.section {
    padding: 120px 0;
}

.section-main-title {
    padding-top: 188px;
    padding-bottom: 188px;
}

.title-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
}

.main-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 40px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-advantages  {
    display: flex;
    gap: 24px;
}

.item-advantages {
    flex-basis: calc((100% - 72px) / 4);
} 

.title-three-advantages {
    margin-bottom: 8px;
}

.list-person {
    display: flex;
    gap: 24px;
}

.list-person-card {
    flex-basis: calc((100% - 72px) / 4);
}

h2 {
    margin-bottom: 72px;
}

.title-team-member {
    margin-bottom: 8px;
}

.text-team {
    margin-bottom: 8px;
}

.card-content-team {
    padding: 32px 0;
}

.list-person-card {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}

.item-portfolio {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-title {
    margin-bottom: 8px;
}

.card-content-portfolio {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.site-footer {
    padding: 100px 0;
}

.nav-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.text-footer {
    width: 264px;
}


/* HOMEWORK-4 */

.container-items-advantages {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
}

.list-social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.link-social-icons {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.link-social-icons {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-icons:hover,
.link-social-icons:focus {
    background-color: #404bbf;
}

.social-icons-team {
    fill: #f4f4fd;
}

.item-icons {
    width: 40px;
    height: 40px; 
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-social-icons {
    fill: #f4f4fd;
}

.container-logo-footer {
    margin-right: 120px;
}

.title-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;  
}

.list-social-icons-footer {
    display: flex;
    gap: 16px;
}


.list-person-card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.item-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover,
.item-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31d0aa; 
}

.nav-link-header.active-link {
    position: relative;
    color: #404bbf;
}   

.nav-link-header.active-link::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0; /* Центруємо по горизонталі */
}

.section-main-title {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        
        url(../images/people-office1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0 auto;
}

.image-porfolio-item {
    position: relative;
    overflow: hidden;
}

.overlay-content-portfolio {
    position: absolute;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .overlay-content-portfolio {
    transform: translateY(0);
}

/* HOMEWORK-5 */

.subscribe-form {
    display: flex;
}

.container-email-input {
    margin-left: 80px;
}

.title-input {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-input-subscribe {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    margin-right: 24px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.form-input-subscribe::placeholder {
    color: #ffffff;
}

.form-email-button-submit {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color:#4d5ae5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email-button-submit:hover,
.form-email-button-submit:focus {
    background-color:#31d0aa;
}

.form-icon-footer-email {
    margin-left: 16px; 
    fill: #ffffff;
}


.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-closing-cross-button {
    position: absolute;
    top: 24px;
    right: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-close {
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-closing-cross-button:hover .form-icon-close,
.form-closing-cross-button:focus .form-icon-close {
    fill:#FFFFFF;
}

.form-closing-cross-button:hover,
.form-closing-cross-button:focus {
    background-color:#404bbf;
    border: none;
}

.title-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.container-form-section {
    margin-bottom: 8px; 
}

.form-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
    border-color: #4D5AE5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within .form-icon {
    fill: #4D5AE5;
}

.container-form-section-textarea {
    margin-bottom: 16px;
}

.form-input-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-textarea:focus-within {
    border-color: #4D5AE5; 
}

.form-input-textarea::placeholder {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.container-checkbox {
    margin-bottom: 24px;
}

.form-label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-input-checkbox:checked + .form-label-privacy .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.link-privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.submit-form-button {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-button:hover,
.submit-form-button:focus {
    background-color:#404bbf;
}

/* HW-5 */
body {
    overflow-x: hidden;
  }
  